Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [1]:
name='ramakant_sharma'
college="ssrgsp"
# multiline string
a='''hellow ramakant sharma'''
b="""golu sharma"""
c=str(5)
print(type(c))

<class 'str'>

## Accessing Substrings from a String

In [8]:
# Postive String
s='ramakant sharma'

print(s[2])
print(s[3])
print(s[4])

m
a
k

In [6]:
# Negtive String
print(s[-1])
print(s[-3])
print(s[-4])

a
r
a

In [ ]:
# Slicing
a='golusharma'
print(a[0:4])
#0=kha se start karna h
#4=kha tk slice krna or +1 lena h q ki last wala include nhi hota h

golu

In [4]:
s = 'hello world'
print(s[2:])
# start se slice krna h to bas itna likh do ki kaha se start krna h or end tk slice kr dega
print(s[:5])
# end tk slice krna h to bas itna likh do ki kaha tk slice kr

llo world
hello

In [ ]:
s = 'hello world'
print(s[6:0:2])
# 3rd value bhi add kr skte h step ke liye jo ki by default 1 hota h
# step ka mtlb kitne kitne karke slice krna h
print(s[6:0:1])
# 6=5 tk jao or 0 tk jao or 1 step karke jao

wol

In [6]:
s = 'hello world'
print(s[-1:-6:-1])
print(s[-1:-6:-2])

dlrow
drw

## Editing and Deleting in Strings

In [7]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [8]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [9]:
s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [10]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [11]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [12]:
'delhi' != 'delhi'

False

In [13]:
'delhi' == 'delhi'

True

In [14]:
'mumbai' > 'pune'
# lexiographically

False

In [18]:
'hello' and 'world'
# agr empty string h to false return krega wrna last true value return krega
# ""=false
# "abc"=true

'world'

In [19]:
'' and 'world'

''

In [17]:
'hello' and 'world'

'world'

In [20]:
'hello' or 'world'
# or operator returns the first truthy value or the last value if all are falsy
# here 'hello' is truthy, so it returns 'hello'
'' or 'world'
# here '' is falsy, so it returns 'world'

'world'

In [24]:
not 'hello'

False

In [23]:
not ''

True

In [32]:
'D' in 'delhi'

False

In [31]:
'd' in 'delhi'

True

In [25]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [26]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

## Common Functions
- len
- max
- min
- sorted

In [27]:
len('hello world')

11

In [33]:
max('hello world')

'w'

In [34]:
min('hello world')

' '

In [35]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [36]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

## Capitalize/Title/Upper/Lower/Swapcase

In [38]:
s = 'hello world'
print(s.capitalize())
print(s.title())
print(s.upper())

Hello world
Hello World
HELLO WORLD

In [39]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
print('HeLlO WorLD'.swapcase())
# ye first letter ko lower krdega or jo lower h unko upper krdega
  
print('HeLlO WorLD'.swapcase())

# ye lower ko upper krdega or jo upper h unko lower krdega

hElLo wORld
hElLo wORld

In [43]:
'my name is nitish'.count('i')

3

In [ ]:
'my name is nitish'.find('x')
# agr find nhi krta h to -1 return krta h

-1

In [45]:
'my name is nitish'.find('i')

8

In [ ]:
'my name is nitish'.index('x')
# ye index method bhi find ki tarah hi hota h but agar find nhi krta h to -1 return krta h or index nhi krta h to error throw krta h

ValueError: substring not found

## endswith/startswith

In [47]:
'my name is nitish'.endswith('sho')

False

In [49]:
'my name is nitish'.startswith('my')

True

## format

In [50]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
'nitish1234%'.isalnum()
# agr string alphanumeric h to true return krta h wrna false

False

In [52]:
'nitish'.isalpha()
# agr string alphabetic h to true return krta h wrna false

True

In [53]:
'123abc'.isdigit()
# agr string digit h to true return krta h wrna false

False

In [54]:
'first-name'.isidentifier()
# agr string valid identifier h to true return krta h wrna false

False

## Split/Join

In [ ]:
'hi my name is nitish'.split()
# agr string ko split krna h to split method use krte h by default space ke basis pe split krta h

['hi', 'my', 'name', 'is', 'nitish']

In [56]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])
# agr string ke elements ko join krna h to join method use krte h or jo string uske beech me chahiye wo uske pehle likh dete h

'hi my name is nitish'

In [ ]:
'hi my name is nitish'.replace('nitish','campusx')
# agr string me koi substring ko replace krna h to replace method use krte h or pehle substring jo replace krna h wo likh dete h or uske bad me jo substring se replace krna h wo likh dete h

'hi my name is campusx'

In [59]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')
# agr string me koi substring ko replace krna h to replace method use krte h or pehle substring jo replace krna h wo likh dete h or uske bad me jo substring se replace krna h wo likh dete h but agar pehla substring nhi mila to original string return krta h

'hi my name is nitish'

## Strip

In [60]:
'nitish                           '.strip()
# strip method string ke starting or ending me jo whitespace h usko remove krta h

'nitish'

## Example Programs